@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab", serif;
}

body {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(240, 186, 186), rgb(177, 177, 250));
}

button {
  font-size: 16px;
  height: 3.5rem;
  width: 3rem;
  /* padding: 20px; */
  margin: 4px 6px;
  border: 2px solid rgb(6, 6, 6);
  border-radius: 45%;
  cursor: pointer;
  background: transparent;
  color: black;
  box-shadow: -8px -8px 15px rgba(186, 199, 103, 0.1);
}

.operator {
  color: green;
}

.row {
  margin: 6px 0px;
}

h5 {
  margin: 0 20px;
  padding: 0;
  font-size: 9px;
  /* text-align:right; */
  text-align: center;
  color: rgb(71, 48, 48);
}

.row input {
  margin: 0px;
  font-size: 19px;
  padding: 14px 11px;
  /* border: none; */
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  background: transparent;
  color: rgb(1, 1, 1);
}


.text-center {
  text-align: center;
}

.mx-auto {
  margin: 33px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.container {
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0px 3px 15px rgb(131, 141, 96);
  padding: 10px 20px;
  margin: 80px;
}
#b-1 {
  padding: -9px;
  margin: 20px;
  width: 110px;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
}